body {
	background-image: "img/cloud.jpg";
}



#myVideo {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%; 
  min-height: 100%;
  z-index: -1;
}

.title .text {
	position: fixed;
	margin-top: 80%;
	margin-bottom: 30%; 

}

::selection {
  background: #ffb7b7;  
}


input{
	border-radius: 100%;
	width: 5%;
	border:1px solid black;
		font-family: alverata, serif;
font-weight: 400;
	font-size: 0.8em;
}

textarea{
	
	font-size: 0.8em;
	border:none;
	margin-top: 20%;
	border-bottom:1px solid black;
	background: white;
	outline: none;
		font-family: alverata, serif;
font-weight: 400;

}

textarea:hover{
	border:none;
}

input:focus, textarea {
    outline: none !important;
}

#myBtn:hover {
  background: #ddd;
  color: black;
}


 

.menu1 {
	height: 100em;
	width: 80%;
	transform: rotateX(25deg);
	transform: rotateY(25deg);
	margin-left: 10%;
	margin-top: 1s5%;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
    position: relative;
  -moz-box-shadow: 2px 4px 8px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 4px 8px rgba(0, 0, 0, .5);
    box-shadow: 0 -5px 50px 0 rgba(0,0,0,.4);
  padding: 0px;
  background: transparent;
  z-index: 1;
  
}

.menu3 {
	height: 80em;
	width: 80%;
	transform: rotateX(25deg);
	transform: rotateY(25deg);
	margin-left: 10%;
	margin-top: -115%;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
    position: relative;
  -moz-box-shadow: 2px 0px 8px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px 0px 8px rgba(0, 0, 0, .5);
    box-shadow: 0 0px 50px 0 rgba(0,0,0,.4);
  padding: 0px;
  background: transparent;
  z-index: 1;
  
}




.menu2 {
	height: 60em;
	width: 80%;
	transform: rotateX(25deg);
	transform: rotateY(25deg);
	
	margin-left: 10%;
	margin-top:-90%;
	-webkit-transition: width 2s; /* For Safari 3.1 to 6.0 */
  transition: width 2s;
  position: absolute;
   -moz-box-shadow: 2px -4px 8px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 2px -4px 8px rgba(0, 0, 0, .5);
    box-shadow: 0 -5px 50px 0 rgba(0,0,0,.4);
  padding: 0px;
  background: transparent;
  z-index: 1;
  
}

.menu2:hover {
transform: rotateX(0deg);
position: relative;
background: white;
  -moz-box-shadow: 0px 0px 0px rgba(0, 0, 0,0.5);
  -webkit-box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
  box-shadow: 0px 0px 0px rgba(0, 0, 0, .5);
  position: absolute;
  background-image: url("https://scontent-iad3-1.xx.fbcdn.net/v/t1.0-9/53792960_10210338205330714_3156211078866665472_n.jpg?_nc_cat=103&_nc_ht=scontent-iad3-1.xx&oh=e215b6d072d45be6697db45b242bc38b&oe=5D0AF8B1");
background-repeat: no-repeat;
}




/* Make the image fit the box */
.menu1 img {
  width: 100%;
  
}


h2 {
	text-align: center;
	font-family: alverata, serif;
font-weight: 400;
font-style: normal;
font-size: 1em;
	padding: 2em;
	color:white;
	opacity: 0.5;
}

h2:hover {
	color:black;
	
}

.play img{
	width: 100%;
}

.title {

	width: 25%;
	margin-left: 38%;
	margin-top: 5%;
}

h1 {
	font-family: alverata, serif;
font-weight: 400;
font-style: normal;
font-size: 2em;
text-align: center;
text-decoration: underline;
opacity: 100%;
}


main {
		cursor: url("img/next.svg") 2 15,pointer;
}

p {
	font-family: alverata-informal, serif;
font-weight: 400;
font-style: normal;
font-size:1em;
text-align: center;
margin-top: 3%;
margin-bottom: 10%;
}

a:hover {
	text-decoration: none;
}

.time {
	
	width: 30%;

}

iframe {
	margin-left: 20%;
	margin-top: -2%;
	
	
}

.sub {
	font-size: 0.8em;
	margin-left: 20%;
	margin-top: 5%;


}


.play {
	
	height: 100em;
	width:80%;
	padding: 3em;
	padding-top: 10%;
	margin-left: 16%;
	
}

.play p {
	margin-top: -10%;
	margin-bottom: 0;
}

.dos {
	
	width: 50%;
	height:10em;
}


#draggable , #draggable2 { 
	width:200px; 
	height: 200px;
	padding: 0.5em;
	margin-top: 2%;
	}

	#resizable { 
		width: 50%;
		 height: 10em;
		  padding: 0.5em;
		  margin-left: 28%;
		  margin-top: -32%; }

  #resizable img { 
  	width: 100%;

